{% extends "tables.html" %}
{% block content %}
<div class="p-5 text-center bg-light" style="margin-top: 58px;">
    <h1 class="mb-3">Reservations sorting by date result</h1>
</div>
  {% csrf_token %}
  {{form}}
  {% if sort_resv_date %}
  <table style="width:100%" class="table table-hover">
    <thead>
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Hotel Id</th>
        <th>Room Number</th>
        <th>Customer Id</th>
        <th>Edit Entry</th>
        <th>Delete Entry</th>
      </tr>
    </thead>
    <tbody>
      {% for object in sort_resv_date %}
      <tr>
        <td>{{ object.start_date}}</td>
        <td>{{ object.end_date}}</td>
        <td>{{ object.hotel_id}}</td>
        <td>{{ object.room_number}}</td>
        <td>{{ object.customer_id}}</td>
        <td>
          <a href= "/reservations/{{object.id}}/edit"><button type = "button" class="btn btn-secondary">Edit</button></a>
        </td>
        <td>
          <button type = "button" class="btn btn-danger" onclick=likeToDelete({{object.id}})>Delete</button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p style="text-align: center">There is no matched result.</p>
  {% endif %}
  <script>
    function likeToDelete(pk)
    {
      let text = "Are you sure it is ok to delete this entry?";
      if (confirm(text) == true) {
        window.location.href = "/reservations/" + pk + "/delete";
      }
    }
  </script>
{% endblock %}