{% extends "tables.html" %}
{% block content %}
<div class="p-5 text-center bg-light" style="margin-top: 58px;">
    <h1 class="mb-3">Hotels search result</h1>
</div>
  {% if object_list %}
  <table style="width:100%" class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>See Rooms</th>
      </tr>
    </thead>
    <tbody>
      {% for hotel in object_list %}
      <tr>
        <td>{{ hotel.name}}</td>
        <td>{{ hotel.address }}</td>
        <td>
            <a href= "/hotels/{{object.id}}/edit"><button type = "button" class="btn btn-secondary">See Rooms</button></a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  {% endif %}
{% endblock %}