{% extends "login.html" %}
{% block content %}
<div class="p-5 text-center bg-light" style="margin-top: 58px;">
    <h1 class="mb-3">Bookingpedia</h1>
</div>
<!--
<div class="container">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
</div>
-->
<div class="text-center">
    <img src="https://cdn-icons-png.flaticon.com/512/4883/4883102.png" class="img-fluid" alt="">
</div>
{% endblock %}