{% extends "login.html" %}
{% block content %}
<<div class="p-5 text-center bg-light" style="margin-top: 58px;">
  <h1 class="mb-3">Hotels search result</h1>
</div>
{% csrf_token %}
{{form}}
{% if object_list %}
<table style="width:100%" class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>See Rooms</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>{{ object.name}}</td>
      <td>{{ object.address }}</td>
      <td>
        <a href= "/hotels/{{object.id}}/view"><button type = "button" class="btn btn-secondary">See Rooms</button></a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p style="text-align: center">There is no matched result.</p>
{% endif %}
{% endblock %}