{% extends "tables.html" %}
{% block content %}
<div class="p-5 text-center bg-light" style="margin-top: 58px;">
  <h1 class="mb-3">Items</h1>
</div>
<div class = "row">
  <div class = "col-md-4"></div>
  <div class = "col-md-4">
      <form role="search" action={% url 'admin_item_search' %} method='get' class="search-bar">
          <input type="search" list = "itemnames" id="hot_name" name='q' value="{{search_name}}" placeholder="Search By Item Name" class = "form-control">
          <datalist id = "itemnames">
              {% for item in itemnames %}
                  <option value = "{{item.name}}"></option>
              {% endfor %}
          </datalist>
      </form>

      <form role="search" action={% url 'admin_item_search2' %} method='get' class="search-bar">
        <input type="search" list = "itemnames" id="hot_name" name='q' value="{{search_name}}" placeholder="Search By Item Price" class = "form-control">
        <datalist id = "itemnames">
            {% for item in itemnames %}
                <option value = "{{item.name}}"></option>
            {% endfor %}
        </datalist>
    </form>
  </div>
<div class = "col-md-4"></div>
</div>
  {% if object_list %}
  <table style="width:100%" class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Edit Entry</th>
        <th>Delete Entry</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <td>{{ object.name}}</td>
        <td>{{ object.price }}</td>
        <td>
          <a href= "/items/{{object.pk}}/edit"><button type = "button" class="btn btn-secondary">Edit</button></a>
        </td>
        <td>
          <button type = "button" class="btn btn-danger" onclick=likeToDelete({{object.pk}})>Delete</button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  {% endif %}
  <div class="text-center">
    <a href={% url "insert_item" %}><button type = "button" class="btn btn-success">Insert Item</button></a>
  </div>
  <script>
    function likeToDelete(pk)
    {
      let text = "Are you sure it is ok to delete this entry?";
      if (confirm(text) == true) {
        window.location.href = "/items/" + pk + "/delete";
      }
    }
  </script>
  {% endblock %}