<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
    <h1>Tables</h1>
    <a href= "/customers"><button type = "button">Customers Table</button></a>
    <a href= "/hotels"><button type = "button">Hotels Table</button></a>
    <a href= "/rooms"><button type = "button">Rooms Table</button></a>
    <a href= "/reservations"><button type = "button">Reservations Table</button></a>
    <a href= "/items"><button type = "button">Items Table</button></a>
    <a href= "/transactions"><button type = "button">Transactions Table</button></a>
</body>
</html>